body {
  background: $brand-color;
  color: $text-color;
  font-family: $font-family;
  font-size: 1.3em;
  line-height: 1.5;
}

h1 { //title
  font-size: 2em;
}

h2 { //title desc
  color: $muted-text-color;
  font-size: 1em;
}

@media (max-width: $on-phone){
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 0.7em;
    }
}

h3 { //credits
  font-size: 0.7em;
  opacity: 0.5;
}

figure h2 {
  margin: 0 2em;
  margin-top: 1em;
  text-align: center;
}

a {
  color: $muted-text-color;
}

a:focus {
  outline: 1px dashed $text-color;
}

/*blockquote {
  margin: 2em auto;
  opacity: .8;
  > * {
    padding: 0 3em;
  }
}

blockquote.epigraph {
  font-style: italic;
}

p > cite {
  display: block;
  text-align: right;
}*/

/*hr {
  border: 0;
  height: 0;
  @include divider;
  margin: 4em 0;
}*/

img { //icon credits
  display: flex;
  max-width: 100%;
  margin-left: auto;
  padding-left: 4em;
  @media (max-width: 360px) {
    padding-left: 2em;
  }
}

figure img { //post images
  margin: 2em auto 1em;
  padding-left: 0;
}

figure iframe { //post images
  display: block;
  margin: 1em 0;
  margin-bottom: 2em;
  width: 100%;
  height: 16em;
  @media (max-width: $on-phone) {
    height: 8em;
  }
}

figure a {
  display: flex;
  position: absolute;;
  margin-left: 5em;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: auto;
  width: 15em;
  height: 15em;
  outline: 0;
}

figure a:focus {
  outline: none;
}

figcaption {
  font-size: .5em;
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
  opacity: .7;
}

/*.divided::after {
  content: "";
  @include divider;
}*/

.home {
  max-width: 18em;
  margin: 2em 1em;
  padding: 2em 0em;
  margin-left: auto;
  @media (max-width: $on-phone) {
    margin: 2em 1em;
    margin-left: auto;
    max-width: 8em;
  }
}

.content-title {
  font-size: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  text-align: right;
}

.post-date {
  color: $muted-text-color;
  display: block;
  font-size: .7em;
  white-space: nowrap;
  text-transform: uppercase;
  .post-link & {
    padding: .5em 0;
  }
}

.site-credits {
  color: $muted-text-color;
  display: flex;
  margin-top: 8em;
  margin-bottom: 2em;
  margin-right: auto;
  align-items: flex-end;
  @media (max-width: $on-tablet) {
    margin-top: 5em;
  }
  padding: 0 2em;
  line-height: 1;
}

/*.skip-navigation {
  background: $brand-color;
  border: 1px dashed transparent;
  display: block;
  font-size: .875em;
  font-weight: 700;
  margin-top: -2.625rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background: lighten($brand-color, 2.5%);
    border-color: $text-color;
    margin-top: 0;
  }
}*/