.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 1em;
  margin: 0 2em;
  @media (max-width: $on-tablet) {
    text-align: right;
    margin-left: auto;
    max-width: 8em;
  }
}

.site-masthead h1 {
  font-size: 2em;
  margin-top: 4em;
  @media (max-width: $on-tablet) {
    text-align: right;
    line-height: 0.875em;
  }
}

.site-masthead h2 {
  color: $muted-text-color;
  font-size: 1em;
  margin: 0;
  padding: 0 2rem;
  @media (max-width: $on-tablet) {
    text-align: right;
    line-height: 1em;
    font-size: 0.7em;
    margin-top: 3em;
    padding: 0;
  }
}