$brand-color:         #003161;
$highlight:           lighten($brand-color, 35%);
$text-color:          #fff4b7;
$muted-text-color:    #c5d9b7;
$font-family:         /*"EB Garamond", Garamond, "Times New Roman", serif;*/ "IBM Plex Mono";
$on-phone:            425px;
$on-tablet:           1024px;
$on-desktop:          1920px;